.user_profile{
    margin: auto;
    padding-left: 40px;
    padding-right: 40px;
    margin-top: 130px;
    max-width: 1064px;
    margin-bottom: 32px;

    @media screen and (max-width: 768px){
        margin-top: 50px;
    }

    .btnReset{
        background-color: transparent;
        border: none;
    }

    .leftCol{
        margin-left: 0px;
        margin-right: auto;
        border: 1px solid #DDDDDD;
        border-radius: 12px;
        max-width: 308px;
        padding: 24px;

        .user-photo{
            margin-bottom: 32px;
 
            img{ 
                width: 128px;
                height: 128px;
                border-radius: 50%;
            }

            button{
                margin-top: 8px;
            }
        }

        .confirmCase{
            font-size: 1.1rem;
        }
    }

    .verification button{
        cursor: pointer;
        display: inline-block;
        margin: 0px;
        position: relative;
        text-align: center;
        text-decoration: none;
        width: auto;
        touch-action: manipulation;
        font-size: 16px;
        line-height: 20px;
        font-weight: 600;
        border-radius: 8px;
        border: 1px solid #222222;
        border-style: solid;
        outline: none;
        padding: 13px 23px;
        background-color: transparent;
        color: #222222;

        &:hover{
            border-color: #000000;
            background: #F7F7F7;    
        }
    }

    .mainCol{
        max-width: 640px;
        margin: 0 auto;
        .welcome{
            p{
                font-size: 14px;
                line-height: 18px;
                color: #717171;
                margin-bottom: 8px;
            }

            img{
                height: 88px;
                width: 88px;
                border-radius: 50%;
                margin-left: 50%;
                transform: translateX(-50%);
            }
        }
    }
}