<footer class="text-lg-start text-dark d-none d-md-block" style="background-color: #F7F7F7">
    <!-- Grid container -->
    <div class="pdx-80">
        <!-- Section: Links -->
        <section class="pdy-48">
            <!--Grid row-->
            <div class="row">
                <!-- Grid column -->
                <div class="col-md-12 col-xl-3 mx-auto">
                    <h6 class="text-uppercase mb-3 font-weight-bold">About</h6>
                    <div class="d-flex d-xl-block column">
                        <p class="my-2"><a class="text-dark">How Airbnb works</a></p>
                        <p class="my-2"><a class="text-dark">Newsroom</a></p>
                        <p class="my-2"><a class="text-dark">Airbnb 2021</a></p>
                        <p class="my-2"><a class="text-dark">Investors</a></p>
                        <p class="my-2"><a class="text-dark">Airbnb Plus</a></p>
                        <p class="my-2"><a class="text-dark">Airbnb Luxe</a></p>
                        <p class="my-2"><a class="text-dark">HotelTonight</a></p>
                        <p class="my-2"><a class="text-dark">Airbnb for Work</a></p>
                        <p class="my-2"><a class="text-dark">Made possible by Hosts</a></p>
                        <p class="my-2"><a class="text-dark">Careers</a></p>
                        <p class="my-2"><a class="text-dark">Founders' Letter</a></p>
                    </div>
                </div>
                <!-- Grid column -->

                <hr class="w-100 clearfix d-xl-none" />

                <!-- Grid column -->
                <div class="col-md-12 col-xl-3 mx-auto">
                    <h6 class="text-uppercase mb-3 font-weight-bold">Community</h6>
                    <div class="d-flex d-xl-block column">
                        <p class="my-2"><a class="text-dark">Diversity & Belonging</a></p>
                        <p class="my-2"><a class="text-dark">Against Discrimination</a></p>
                        <p class="my-2"><a class="text-dark">Accessibility</a></p>
                        <p class="my-2"><a class="text-dark">Airbnb Associates</a></p>
                        <p class="my-2"><a class="text-dark">Host Afghan refugees</a></p>
                        <p class="my-2"><a class="text-dark">Guest Referrals</a></p>
                        <p class="my-2"><a class="text-dark">Gift cards</a></p>
                        <p class="my-2"><a class="text-dark">Airbnb.org</a></p>
                    </div>
                </div>
                <!-- Grid column -->

                <hr class="w-100 clearfix d-xl-none" />

                <!-- Grid column -->
                <div class="col-md-12 col-xl-3 mx-auto">
                    <h6 class="text-uppercase mb-3 font-weight-bold">
                        Host
                    </h6>
                    <div class="d-flex d-xl-block column">
                        <p class="my-2"><a class="text-dark">Host your home</a></p>
                        <p class="my-2"><a class="text-dark">Host an Online Experience</a></p>
                        <p class="my-2"><a class="text-dark">Host an Experience</a></p>
                        <p class="my-2"><a class="text-dark">Responsible hosting</a></p>
                        <p class="my-2"><a class="text-dark">Refer hosts</a></p>
                        <p class="my-2"><a class="text-dark">Resource Center</a></p>
                        <p class="my-2"><a class="text-dark">Community Center</a></p>
                    </div>
                </div>

                <!-- Grid column -->
                <hr class="w-100 clearfix d-xl-none" />

                <!-- Grid column -->
                <div class="col-md-12 col-xl-3 mx-auto">
                    <h6 class="text-uppercase mb-3 font-weight-bold">Support</h6>
                    <div class="d-flex d-xl-block column">
                        <p class="my-2"><a class="text-dark">Our COVID-19 Response</a></p>
                        <p class="my-2"><a class="text-dark">Help Center</a></p>
                        <p class="my-2"><a class="text-dark">Cancellation options</a></p>
                        <p class="my-2"><a class="text-dark">Neighborhood Support</a></p>
                        <p class="my-2"><a class="text-dark">Trust & Safety</a></p>
                    </div>
                </div>
                <!-- Grid column -->
            </div>
            <!--Grid row-->
        </section>
        <!-- Section: Links -->

        <hr class="my-0">

        <!-- Section: Copyright -->
        <section class="py-4">
            <div class="row d-flex justify-content-between">
                <!-- Grid column -->
                <div class="col-md-7 col-lg-8">
                    <!-- Copyright -->
                    <div class="text-nowrap">
                        © 2021 Airbnb, Inc.
                        <ul class="d-inline m-0 p-0">
                            <li class="d-inline"><span class="mx-2">·</span><a class="text-dark">Privacy</a></li>
                            <li class="d-inline"><span class="mx-2">·</span><a class="text-dark">Terms</a></li>
                            <li class="d-inline"><span class="mx-2">·</span><a class="text-dark">Sitemap</a></li>
                        </ul>
                    </div>
                    <!-- Copyright -->
                </div>
                <!-- Grid column -->

                <!-- Grid column -->
                <div class="p-0 text-end col-2 d-flex justify-content-between">
                    <!-- Facebook -->
                    <a class="text-dark text-end" role="button"><i class="fa fa-2x fa-facebook-f"></i></a>

                    <!-- Twitter -->
                    <a class="text-dark" role="button"><i class="fa fa-2x fa-twitter"></i></a>

                    <!-- Instagram -->
                    <a class="text-dark" role="button"><i class="fa fa-2x fa-instagram"></i></a>
                </div>
                <!-- Grid column -->
            </div>
        </section>
        <!-- Section: Copyright -->
    </div>
    <!-- Grid container -->
</footer>