footer{
    .pdx-80{
        padding: 0 80px;

        @media screen and (max-width: 950px) {
            padding-left: 40px;
            padding-right: 40px;
        }
    }

    .pdy-48{
        padding: 48px 0;
    }

    .column{
        flex-wrap: wrap;

        p{
            flex-basis: 33.3333%;
        }
    }
}